<div style="font-size: 14px;">
<h2>Bet Assistant predicts football scores and provides betting tips for bettors.</h2>
<p>Using statistical data and news analyses, system gives precise odds for any football match in 5 most popular national leagues (Germany, England, Spain, Italy and France).</p>
<p>Normally Bet Assistant can forecast the result of a football match with up to 80% probability of success. To achieve such close prediction, we use our unique algorithm which analyses many deferent statistical indicators (results of previous matches, current position in a league, goals scored, etc.).</p>
<p>Also, Bet Assistant analyzes official news before the match and adjust odds if, for example, the key player is not playing.  As a result, system will advise the user on which matches he should bet and what will be the score.</p>
<p>Bet Assistant does not consider odds from gambling companies, services and sites. Our predictions are based on our own analyses and usually they are more accurate than odds form gambling companies. Moreover, we are constantly working on making our algorithm better and better.</p>
<p>To see our predications for previous matches click <a href="/statistics">here</a>.</p>
<br /><br />
<h2>For investors</h2>
<p>
Now you have a chance to invest in this project. We are looking for early-stage investment to kick things up and start doing really great stuff. In return we are happy to give a stake in the equity of our company.
</p>
<p>
We will go with investor which share our values and like to do things quickly. Do not miss your chance to update your portfolio with potentially profitable company with bright future.
</p>
<p>
If you are interesting in being our partner and you’d like to establish long-term financial relationship, please drop us a mail to <a href="mailto:info@iteelabs.com">info@iteelabs.com</a>. Be sure we will get back to you quickly.
</p>
</div>
