<div style="font-size: 14px;">
<div style="margin-left: 75px; width: 700px;">
<center>
  <h1>Betting strategy</h1>
</center>
<h2>Coming soon ...</h2>
<p>
You would like to bet 50 EUR this week. At the end of the week you wish to have 100 EUR. You also feel comfortable with low level of risk. 
</p>
<p>
Knowing that, Bet Assistant creates the strategy especially for you. As a result you have the list of matches which you should bet on this week to raise 100 EUR. Moreover, it gives advice on how much you should bet and what bookmaker gives highest odds for these matches.
</p>
<p>
So, all you need to do is to follow advises and collect you 50 in the end of the week.
</p>
</div>
</div>
