<div id="logos_row">
  <div class="logo">
    <img src="/images/logo/ger.jpeg" />
  </div>
  <div class="logo">
    <img src="/images/logo/eng.jpeg" />
  </div>
  <div class="logo">
    <img src="/images/logo/spa.jpeg" />
  </div>
  <div class="logo">
    <img src="/images/logo/ita.jpeg" />
  </div>
  <div class="logo">
    <img src="/images/logo/fra.jpeg" />
  </div>
  <div class="logo">
    <img src="/images/logo/ned.jpeg" />
  </div>
</div>