<center>
<div id="main">
  <div id="header">
    <div id="logo_block">
      GameCalculation <span>DemoVersion</span>
    </div>
    <div id="slider">
      <ul id="sliderContent">
         <li class="sliderImage">
              <a href=""><img src="/images/home/ger3.jpg" alt="1" /></a>
              <span class="top"><strong>Bundes League</strong></span>
          </li>
          <li class="sliderImage">
              <a href=""><img src="/images/home/eng2.jpg" alt="2" /></a>
              <span class="top"><strong>Premier League</strong></span>
          </li>
          <li class="sliderImage">
              <img src="/images/home/spa1.jpg" alt="4" />
              <span class="bottom"><strong>Primera</strong></span>
          </li>
          <li class="sliderImage">
              <img src="/images/home/ita5.jpg" alt="5" />
              <span class="top"><strong>Serie A</strong></span>
          </li>
          <li class="sliderImage">
              <img src="/images/home/fra5.jpg" alt="3" />
              <span class="bottom"><strong>League 1</strong></span>
          </li>
          <li class="sliderImage">
              <img src="/images/home/ned4.jpg" alt="5" />
              <span class="top"><strong>Eredivisie</strong></span>
          </li>
          <div class="clear sliderImage"></div>
      </ul>
    </div>
    <!-- // slider -->

  </div>
  <div id="content">
    <div id="logos_row">
      <div class="logo">
        <img src="/images/logo/ger.jpeg" />
      </div>
      <div class="logo">
        <img src="/images/logo/eng.jpeg" />
      </div>
      <div class="logo">
        <img src="/images/logo/spa.jpeg" />
      </div>
      <div class="logo">
        <img src="/images/logo/ita.jpeg" />
      </div>
      <div class="logo">
        <img src="/images/logo/fra.jpeg" />
      </div>
      <div class="logo">
        <img src="/images/logo/ned.jpeg" />
      </div>
    </div>  
  </div>
  <div id="footer">
    &copy; 2010 <b>GameCalculation</b>
  </div>
</div>
</center>
