<div class="main_hint"><i>Bet Assist is an online service which provides sports betting tips, odds and score predictions. 
It can pick the best odds, so it is clear where and how to bet in order to win.</i></div>
<div id="logos_row">
  <div class="logo">
    <a href="/leagues/1"><img src="/images/logo/ger.jpeg" /></a>
  </div>
  <div class="logo">
    <img src="/images/logo/eng_grey.jpeg" />
  </div>
  <div class="logo">
    <img src="/images/logo/spa_grey.jpeg" />
  </div>
  <div class="logo">
    <img src="/images/logo/ita_grey.jpeg" />
  </div>
  <div class="logo">
    <img src="/images/logo/fra_grey.jpeg" />
  </div>
  <div class="logo">
    <img src="/images/logo/por_grey.jpeg" />
  </div>
  <div class="logo">
    <img src="/images/logo/bel_grey.jpeg" />
  </div>
    <div class="logo">
    <img src="/images/logo/ned_grey.jpeg" />
  </div>
  <div class="logo" style="margin-left: 25px;">
    <img src="/images/logo/euro2012.jpg" />
  </div>
</div>
<div class="maint-content-top">
  <div class="video-conteiner">
    <div class="video">
      <iframe src="http://player.vimeo.com/video/39692413?title=0&amp;byline=0&amp;portrait=0" width="500" height="275" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
    </div>
  </div>
  <div class="news">
        <div>
          <div style="float: left; margin: 5px;">
              <img src="http://www.bundesliga.de/media/images/00_vereinsbilder/schalke/schalke_zuschauer_692.jpg" width="110px;">
          </div>
          <div>
            <span>Mon, 30 Apr 2012</span><br>
            <a href="http://www.bundesliga.de/en/liga/news/2011/0000211091.php" target="_blank">Matchday 33 facts & figures</a><br>
            <span>Munich - There may be one more week of the 2011/12 Bundesliga to go, but already we've seen a new attendance record set on a weekend when Dortmund racked up yet another milestone and Mario Gomez...</span>
          </div>
         </div>
        <br><br>
        <div>
          <div style="float: left; margin: 5px;">
              <img src="http://media.bundesliga.de/media/images/03_spieltagsgalerien/00_bundesliga/00001_saison_2011_12/33__spieltag/podolski_arsenal_389.jpg" width="110px;">
          </div>
          <div>
            <span>Mon, 30 Apr 2012</span><br>
            <a href="http://www.bundesliga.de/en/liga/news/2011/0000211201.php" target="_blank">London calling for Koln hometown hero</a><br>
            <span>Cologne - As of next season, Lukas Podolski will be turning out for Arsenal FC in the English Premier League.</span>
          </div>
         </div>
        <br><br>
        <div>
          <div style="float: left; margin: 5px;">
              <img src="http://media.bundesliga.de/media/images/00_imported_692/fcb_vfb_gomez_mueller_jubel_th.jpg" width="110px;">
          </div>
          <div>
            <span>Mon, 30 Apr 2012</span><br>
            <a href="http://www.bundesliga.de/en/liga/news/2011/211189.php" target="_blank">Keeping the final(s) fever in check</a><br>
            <span>Munich - "Finale oho ... Finale ohohoho": The simple and succinct musical chant ringing out around the Allianz Arena as Bayern Munich's game against VfB Stuttgart got under way on a summery Saturday afternoon...</span>
          </div>
         </div>
        <br><br>
  </div>
</div>
<div class="clear"></div>
<div class="social_accounts_container">
  <div class="social_accounts">
    Follow our predictions on <a target="_blank" href="https://twitter.com/#!/TheBetAssist"><img src="images/twitter.png" /></a> and <a target="_blank" href="http://www.facebook.com/BetAssist"><img src="images/facebook.png" /></a>
  </div>
</div>
<div class="maint-content-bottom">
  <div class="left">
    <div class="header">Bet Assist can</div>
    <div class="item">- Predict results of upcoming matches</div>
    <div class="item">- Build your betting strategy</div>
    <div class="item">- Adjust the odds according to latest news</div>
    <div class="item">- Constantly learn and improve predictions</div>
  </div>
  <div class="right">
    <div class="header">Algorithm</div>
    <div class="item">- Suggests matches to bet on with probability over 75%</div>
    <div class="item">- Uses the statistics of all previous matches.</div>
    <div class="item">- Uses self-learning algorithms based on neural networks and perceptrons to process historical information and increase accuracy</div>
    <div class="item">- Automatically adjusts the odds according to latest news</div>
  </div>
</div>