<div class="main_hint"><i>"BetAssist" is an online service which provides sports betting tips, odds and score predictions. 
It can pick the best odds, so it is clear where and how to bet in order to win.</i></div>
<div id="logos_row">
  <div class="logo">
    <a href="/leagues/1"><img src="/images/logo/ger.jpeg" /></a>
  </div>
  <div class="logo">
    <img src="/images/logo/eng_grey.jpeg" />
  </div>
  <div class="logo">
    <img src="/images/logo/spa_grey.jpeg" />
  </div>
  <div class="logo">
    <img src="/images/logo/ita_grey.jpeg" />
  </div>
  <div class="logo">
    <img src="/images/logo/fra_grey.jpeg" />
  </div>
  <div class="logo">
    <img src="/images/logo/por_grey.jpeg" />
  </div>
  <div class="logo">
    <img src="/images/logo/bel_grey.jpeg" />
  </div>
    <div class="logo">
    <img src="/images/logo/ned_grey.jpeg" />
  </div>
  <div class="logo" style="margin-left: 25px;">
    <img src="/images/logo/euro2012.jpg" />
  </div>
</div>
<div class="maint-content-top">
  <div class="video-conteiner">
    <div class="video">
      <iframe src="http://player.vimeo.com/video/39692413?title=0&amp;byline=0&amp;portrait=0" width="500" height="275" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe><p><a href="http://vimeo.com/39692413">Betassist</a> from <a href="http://vimeo.com/user1441624">Daniel Vyshemirskyi</a> on <a href="http://vimeo.com">Vimeo</a>.</p>
    </div>
  </div>
  <div class="news">
        <div>
          <div style="float: left; margin: 5px;">
              <img src="http://www.bundesliga.de/media/images/00_vereinsbilder/leverkusen/hyypiae_training_389.jpg" width="110px;">
          </div>
          <div>
            <span>Wed, 06 Apr 2012</span><br>
            <a href="http://www.bundesliga.de/de/liga/news/2011/0000209141.php" target="_blank">Ein Neuling als Hoffnungstrager</a><br>
            <span>Leverkusen - Als Spieler hat Sami Hyypia grobe Schlachten geschlagen. Mit dem FC Liverpool gewann der Finne die Champions League...</span>
          </div>
         </div>
        <br><br>
        <div>
          <div style="float: left; margin: 5px;">
              <img src="http://www.bundesliga.de/media/images/03_spieltagsgalerien/00_bundesliga/00001_saison_2011_12/28__spieltag/lev_scf_tor_caligiuri_389.jpg" width="110px;">
          </div>
          <div>
            <span>Wed, 06 Apr 2012</span><br>
            <a href="http://www.bundesliga.de/de/liga/news/2011/0000209075.php" target="_blank">Mit Schmackes zum Wahlsieg</a><br>
            <span>HMunchen - Der SC Freiburg befindet sich derzeit im Hohenrausch. Blickt man auf die Formtabelle, wird die Erfolgsserie der Breisgauer sichtbar: Sage und schreibe 13 Punkte....</span>
          </div>
         </div>
        <br><br>
        <div>
          <div style="float: left; margin: 5px;">
              <img src="http://www.bundesliga.de/media/images/00_imported_692/bvb_wob_hummels_dejagah_920_th.jpg" width="110px;">
          </div>
          <div>
            <span>Wed, 06 Apr 2012</span><br>
            <a href="http://www.bundesliga.de/de/liga/news/2011/0000209059.php" target="_blank">Fernduell an Ostern</a><br>
            <span>Munchen - Wahrend die anderen Teams um die Europapokal-Platze oder gegen den Abstieg spielen (hier geht's zur Vorschau), geht das spannende ....</span>
          </div>
         </div>
        <br><br>
  </div>
</div>
<div class="clear"></div>
<div class="maint-content-bottom">
  <div class="left">
    <div class="header">Bet Assistant can:</div>
    <div class="item">- Predict results of upcoming matches</div>
    <div class="item">- Build your betting strategy</div>
    <div class="item">- Adjust the odds according to latest news</div>
    <div class="item">- Constantly learn and improve predictions</div>
  </div>
  <div class="right">
    <div class="header">Algorithm</div>
    <div class="item">Suggests matches to bet on with probability over 75%</div>
    <div class="item">Uses the statistics of all previous matches.</div>
    <div class="item">Uses self-learning algorithms based on neural networks and perceptrons to process historical information and increase accuracy</div>
    <div class="item">Automatically adjusts the odds according to latest news</div>
  </div>
</div>