<div class="main_hint"><i>Bet Assist is an online service which provides sports betting tips, odds and score predictions. 
It can pick the best odds, so it is clear where and how to bet in order to win.</i></div>
<div id="logos_row">
  <div class="logo">
    <a href="/leagues/1"><img src="/images/logo/ger.jpeg" /></a>
  </div>
  <div class="logo">
    <img src="/images/logo/eng_grey.jpeg" />
  </div>
  <div class="logo">
    <img src="/images/logo/spa_grey.jpeg" />
  </div>
  <div class="logo">
    <img src="/images/logo/ita_grey.jpeg" />
  </div>
  <div class="logo">
    <img src="/images/logo/fra_grey.jpeg" />
  </div>
  <div class="logo">
    <img src="/images/logo/por_grey.jpeg" />
  </div>
  <div class="logo">
    <img src="/images/logo/bel_grey.jpeg" />
  </div>
    <div class="logo">
    <img src="/images/logo/ned_grey.jpeg" />
  </div>
  <div class="logo" style="margin-left: 25px;">
    <img src="/images/logo/euro2012.jpg" />
  </div>
</div>
<div class="maint-content-top">
  <div class="video-conteiner">
    <div class="video">
      <iframe src="http://player.vimeo.com/video/39692413?title=0&amp;byline=0&amp;portrait=0" width="500" height="275" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
    </div>
  </div>
  <div class="news">
        <div>
          <div style="float: left; margin: 5px;">
              <img src="http://www.bundesliga.de/media/images/00_imported_692/hsv_b04_mancienne_kiessling_th.jpg" width="110px;">
          </div>
          <div>
            <span>Mon, 09 Apr 2012</span><br>
            <a href="http://www.bundesliga.de/en/liga/news/2011/index.php?f=0000209264.php" target="_blank">Point apiece in Hamburg</a><br>
            <span>Munich - Hamburger SV and Bayer 04 Leverkusen brought Matchday 29 in the Bundesliga to a close on Sunday with an evenly-contested 1-1 draw.</span>
          </div>
         </div>
        <br><br>
        <div>
          <div style="float: left; margin: 5px;">
              <img src="http://www.bundesliga.de/media/images/00_imported_692/s04_h96_farfan_raul_920_th.jpg" width="110px;">
          </div>
          <div>
            <span>Mon, 09 Apr 2012</span><br>
            <a href="http://www.bundesliga.de/en/liga/news/2011/index.php?f=0000209255.php" target="_blank">Raul steals the show as Schalke sink Hannover</a><br>
            <span>Schalke 04 remain on course for a top three finish and a direct place in the group stages of next season's Champions League after dispatching Hannover 96 in a one-sided encounter at the Veltins Arena.span>
          </div>
         </div>
        <br><br>
        <div>
          <div style="float: left; margin: 5px;">
              <img src="http://www.bundesliga.de/media/images/00_imported_692/h96_s04_raul_pinto_920_th.jpg" width="110px;">
          </div>
          <div>
            <span>Mon, 09 Apr 2012</span><br>
            <a href="http://www.bundesliga.de/en/liga/news/2011/index.php?f=0000209185.php" target="_blank">Europe past, Europe future</a><br>
            <span>Three days after their respective dreams of Europa League glory came to an end at the quarter-final stage, Schalke 04 and Hannover 96 go head-to-head on Sunday chasing points towards participation...</span>
          </div>
         </div>
        <br><br>
  </div>
</div>
<div class="clear"></div>
<div class="social_accounts_container">
  <div class="social_accounts">
    Follow our predictions on <a target="_blank" href="https://twitter.com/#!/TheBetAssist"><img src="images/twitter.png" /></a> and <a target="_blank" href="http://www.facebook.com/BetAssist"><img src="images/facebook.png" /></a>
  </div>
</div>
<div class="maint-content-bottom">
  <div class="left">
    <div class="header">Bet Assist can</div>
    <div class="item">- Predict results of upcoming matches</div>
    <div class="item">- Build your betting strategy</div>
    <div class="item">- Adjust the odds according to latest news</div>
    <div class="item">- Constantly learn and improve predictions</div>
  </div>
  <div class="right">
    <div class="header">Algorithm</div>
    <div class="item">- Suggests matches to bet on with probability over 75%</div>
    <div class="item">- Uses the statistics of all previous matches.</div>
    <div class="item">- Uses self-learning algorithms based on neural networks and perceptrons to process historical information and increase accuracy</div>
    <div class="item">- Automatically adjusts the odds according to latest news</div>
  </div>
</div>