<div class="main_hint">
"BetAssist" is an online service which provides sports betting tips, odds and score predictions. 
It can pick the best odds, so it is clear where and how to bet in order to win.
</div>
<div id="logos_row">
  <div class="logo">
    <a href="/leagues/1"><img src="/images/logo/ger.jpeg" /></a>
  </div>
  <div class="logo">
    <img src="/images/logo/eng_grey.jpeg" />
  </div>
  <div class="logo">
    <img src="/images/logo/spa_grey.jpeg" />
  </div>
  <div class="logo">
    <img src="/images/logo/ita_grey.jpeg" />
  </div>
  <div class="logo">
    <img src="/images/logo/fra_grey.jpeg" />
  </div>
  <div class="logo">
    <img src="/images/logo/por_grey.jpeg" />
  </div>
  <div class="logo">
    <img src="/images/logo/bel_grey.jpeg" />
  </div>
    <div class="logo">
    <img src="/images/logo/ned_grey.jpeg" />
  </div>
  <div class="logo">
    <img src="/images/logo/euro2012_grey.jpg" />
  </div>
</div>
<div class="maint-content-top">
  <div class="video-conteiner">
    <div class="video">
      <iframe src="http://player.vimeo.com/video/39692413?title=0&amp;byline=0&amp;portrait=0" width="500" height="275" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe><p><a href="http://vimeo.com/39692413">Betassist</a> from <a href="http://vimeo.com/user1441624">Daniel Vyshemirskyi</a> on <a href="http://vimeo.com">Vimeo</a>.</p>
    </div>
  </div>
  <div class="news">
        <div>
          <div style="float: left; margin: 5px;">
              <img src="http://www.bundesliga.de/media/images/02_international/europa/fcb_heynckes_roterkopf_389.jpg" width="110px;">
          </div>
          <div>
            <span>Mon, 02 Apr 2012</span><br>
            <a href="http://www.bundesliga.de/en/liga/news/2011/index.php?f=0000208697.php" target="_blank">Heynckes warns against Bayern complacency</a><br>
            <span>Munich - Tuesday's opponents may be Olympique Marseille, but FC Bayern Munich are already licking their lips at the prospect of a last-four encounter against the mighty Real Madrid - even if no one down at...</span>
          </div>
         </div>
        <br><br>
        <div>
          <div style="float: left; margin: 5px;">
              <img src="http://www.bundesliga.de/media/images/00_vereinsbilder/hannover/h96_692_slomka.jpg" width="110px;">
          </div>
          <div>
            <span>Mon, 02 Apr 2012</span><br>
            <a href="http://www.bundesliga.de/en/liga/news/2011/index.php?f=0000208521.php" target="_blank">Slomka: "A victory for our confidence"</a><br>
            <span>Munich - Hannover 96 made major strides towards a Europa League place with victory over Borussia Monchengladbach on Sunday. Fellow Euro-chasers Schalke had to make do with a 1-1 draw in Hoffenheim...</span>
          </div>
         </div>
        <br><br>
        <div>
          <div style="float: left; margin: 5px;">
              <img src="http://www.bundesliga.de/media/images/03_spieltagsgalerien/00_bundesliga/00001_saison_2011_12/28__spieltag/bvb_vfb_hajnal_692x389.jpg" width="110px;">
          </div>
          <div>
            <span>Mon, 02 Apr 2012</span><br>
            <a href="http://www.bundesliga.de/en/liga/news/2011/index.php?f=0000208691.php" target="_blank">Hajnal: 'Nice to have been involved in such a crazy game'</a><br>
            <span>Dortmund - Three days after VfB Stuttgart's visit to league leaders Borussia Dortmund and German football fans are still raving about the <a href="http://www.bundesliga.de/en/liga/news/2011/0000208518.php" target="_self" class="normalred"><b>eight-goal thriller</b></a> that took place on Friday...</span>
          </div>
         </div>
        <br><br>
  </div>
</div>
<div class="clear"></div>
<div class="maint-content-bottom">
  <div class="left">
    <div class="header">Bet Assistant can:</div>
    <div class="item">- Predict results of upcoming matches</div>
    <div class="item">- Build your betting strategy</div>
    <div class="item">- Adjust the odds according to latest news</div>
    <div class="item">- Constantly learn and improve predictions</div>
  </div>
  <div class="right">
    <div class="header">Algorithm</div>
    <div class="item">Suggests matches to bet on with probability over 75%</div>
    <div class="item">Uses the statistics of all previous matches.</div>
    <div class="item">Uses self-learning algorithms based on neural networks and perceptrons to process historical information and increase accuracy</div>
    <div class="item">Automatically adjusts the odds according to latest news</div>
  </div>
</div>