<div class="main_hint"><i>Bet Assist is an online service which provides sports betting tips, odds and score predictions. 
It can pick the best odds, so it is clear where and how to bet in order to win.</i></div>
<div id="logos_row">
  <div class="logo">
    <a href="/leagues/1"><img src="/images/logo/ger.jpeg" /></a>
  </div>
  <div class="logo">
    <img src="/images/logo/eng_grey.jpeg" />
  </div>
  <div class="logo">
    <img src="/images/logo/spa_grey.jpeg" />
  </div>
  <div class="logo">
    <img src="/images/logo/ita_grey.jpeg" />
  </div>
  <div class="logo">
    <img src="/images/logo/fra_grey.jpeg" />
  </div>
  <div class="logo">
    <img src="/images/logo/por_grey.jpeg" />
  </div>
  <div class="logo">
    <img src="/images/logo/bel_grey.jpeg" />
  </div>
    <div class="logo">
    <img src="/images/logo/ned_grey.jpeg" />
  </div>
  <div class="logo" style="margin-left: 25px;">
    <a href="/euro2012"><img src="/images/logo/euro2012.jpg" /></a>
  </div>
</div>
<div class="maint-content-top">
  <div class="video-conteiner">
    <div class="video">
      <iframe src="http://player.vimeo.com/video/39692413?title=0&amp;byline=0&amp;portrait=0" width="500" height="275" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
    </div>
  </div>
  <div class="news">
        <div>
          <div style="float: left; margin: 5px;">
              <img src="http://media.bundesliga.de/media/images/00_imported_692/svw_s04_692_pizarro.jpg" width="110px;">
          </div>
          <div>
            <span>Tue, 15 May 2012</span><br>
            <a href="http://www.bundesliga.de/en/liga/news/2011/0000212554.php" target="_blank">Pizarro to leave Bremen</a><br>
            <span>Bremen - Claudio Pizarro has announced that he will leave SV Werder Bremen after informing the club's board of his intentions early on Tuesday afternoon...</span>
          </div>
         </div>
        <br><br>
        <div>
          <div style="float: left; margin: 5px;">
              <img src="http://media.bundesliga.de/media/images/00_vereinsbilder/leverkusen/hyypiae_lewandowski_692.jpg" width="110px;">
          </div>
          <div>
            <span>Tue, 15 May 2012</span><br>
            <a href="http://www.bundesliga.de/en/liga/news/2011/0000212513.php" target="_blank">Leverkusen put faith in coaching duo</a><br>
            <span>Leverkusen - Bayer 04 Leverkusen have put their faith in the coaching team of Sascha Lewandowski and Sami Hyypia, with each penning a three year contract extension which will keep them at the club until June...</span>
          </div>
         </div>
        <br><br>
        <div>
          <div style="float: left; margin: 5px;">
              <img src="http://media.bundesliga.de/media/images/00_vereinsbilder/duesseldorf/f95_relegation_jubel_692.jpg" width="110px;">
          </div>
          <div>
            <span>Tue, 15 May 2012</span><br>
            <a href="http://www.bundesliga.de/en/liga/news/2011/212458.php" target="_blank">Something has to give</a><br>
            <span>Dusseldorf/Berlin - The whole of Dusseldorf is already planning how best to celebrate the imminent return of Bundesliga football to the city - with the notable exception of the coach and squad of players charged...</span>
          </div>
         </div>
        <br><br>
  </div>
</div>
<div class="clear"></div>
<div class="social_accounts_container">
  <div class="social_accounts">
    Follow our predictions on <a target="_blank" href="https://twitter.com/#!/TheBetAssist"><img src="images/twitter.png" /></a> and <a target="_blank" href="http://www.facebook.com/BetAssist"><img src="images/facebook.png" /></a>
  </div>
</div>
<div class="maint-content-bottom">
  <div class="left">
    <div class="header">Bet Assist can</div>
    <div class="item">- Predict results of upcoming matches</div>
    <div class="item">- Build your betting strategy</div>
    <div class="item">- Adjust the odds according to latest news</div>
    <div class="item">- Constantly learn and improve predictions</div>
  </div>
  <div class="right">
    <div class="header">Algorithm</div>
    <div class="item">- Suggests matches to bet on with probability over 75%</div>
    <div class="item">- Uses the statistics of all previous matches.</div>
    <div class="item">- Uses self-learning algorithms based on neural networks and perceptrons to process historical information and increase accuracy</div>
    <div class="item">- Automatically adjusts the odds according to latest news</div>
  </div>
</div>