<div class="main_hint">
"BetAssist" is an online service which provides sports betting tips, odds and score predictions. 
It can pick the best odds, so it is clear where and how to bet in order to win.
</div>
<div id="logos_row">
  <div class="logo">
    <a href="/leagues/1"><img src="/images/logo/ger.jpeg" /></a>
  </div>
  <div class="logo">
    <img src="/images/logo/eng_grey.jpeg" />
  </div>
  <div class="logo">
    <img src="/images/logo/spa_grey.jpeg" />
  </div>
  <div class="logo">
    <img src="/images/logo/ita_grey.jpeg" />
  </div>
  <div class="logo">
    <img src="/images/logo/fra_grey.jpeg" />
  </div>
  <div class="logo">
    <img src="/images/logo/por_grey.jpeg" />
  </div>
  <div class="logo">
    <img src="/images/logo/bel_grey.jpeg" />
  </div>
    <div class="logo">
    <img src="/images/logo/ned_grey.jpeg" />
  </div>
  <div class="logo">
    <img src="/images/logo/euro2012_grey.jpg" />
  </div>
</div>
<div class="maint-content-top">
  <div class="video-conteiner">
    <div class="video">
      <iframe src="http://player.vimeo.com/video/39692413?title=0&amp;byline=0&amp;portrait=0" width="500" height="275" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe><p><a href="http://vimeo.com/39692413">Betassist</a> from <a href="http://vimeo.com/user1441624">Daniel Vyshemirskyi</a> on <a href="http://vimeo.com">Vimeo</a>.</p>
    </div>
  </div>
  <div class="news">
        <div>
          <div style="float: left; margin: 5px;">
              <img src="http://www.bundesliga.de/media/images/01_sonder_groessen/308x114/sala_kaputt_114.jpg" width="110px;">
          </div>
          <div>
            <span>Wed, 04 Apr 2012</span><br>
            <a href="http://www.bundesliga.de/de/liga/news/2011/0000208960.php" target="_blank">Sala fallt zwei Wochen aus ></a><br>
            <span>Hamburg - Jacopo Sala wird dem Hamburger SV zwei Wochen fehlen. Der 20-Jahrige zog sich im Training einen Banderriss im rechten Sprunggelenk zu. ...</span>
          </div>
         </div>
        <br><br>
        <div>
          <div style="float: left; margin: 5px;">
              <img src="http://www.bundesliga.de/media/images/00_vereinsbilder/hamburg/hsv_drobny_anweisung_308.jpg" width="110px;">
          </div>
          <div>
            <span>Wed, 04 Apr 2012</span><br>
            <a href="http://www.bundesliga.de/de/liga/news/2011/0000208956.php" target="_blank">Drobny angeschlagen</a><br>
            <span>Hamburg - HSV-Schlussmann Jaroslav Drobny musste am Dienstag das Mannschaftstraining fruhzeitig beenden. Der tschechische Nationalkeeper ...</span>
          </div>
         </div>
        <br><br>
        <div>
          <div style="float: left; margin: 5px;">
              <img src="http://www.bundesliga.de/media/images/05_dfl/stiftung_vorstand_308.jpg" width="110px;">
          </div>
          <div>
            <span>Wed, 04 Apr 2012</span><br>
            <a href="http://www.bundesliga.de/de/liga/news/2011/0000208954.php" target="_blank">Vorstand der Bundesliga-Stiftung neu gewahlt: Tom Bender fur weitere drei Jahre Vorstandsvorsitzender</a><br>
            <span>Frankfurt/Main - Im Rahmen seiner konstituierenden Sitzung hat der Vorstand der Bundesliga-Stiftung seinen Vorsitzenden Tom Bender fur die nachsten drei Jahre bestatigt....</span>
          </div>
         </div>
        <br><br>
  </div>
</div>
<div class="clear"></div>
<div class="maint-content-bottom">
  <div class="left">
    <div class="header">Bet Assistant can:</div>
    <div class="item">- Predict results of upcoming matches</div>
    <div class="item">- Build your betting strategy</div>
    <div class="item">- Adjust the odds according to latest news</div>
    <div class="item">- Constantly learn and improve predictions</div>
  </div>
  <div class="right">
    <div class="header">Algorithm</div>
    <div class="item">Suggests matches to bet on with probability over 75%</div>
    <div class="item">Uses the statistics of all previous matches.</div>
    <div class="item">Uses self-learning algorithms based on neural networks and perceptrons to process historical information and increase accuracy</div>
    <div class="item">Automatically adjusts the odds according to latest news</div>
  </div>
</div>