<% @rss.items.each do |item| %>
  <div>
    <div style="float: left; margin: 5px;">
      <img src="/images/logo/ger.jpeg" height="70px" />
    </div>
    <div>
      <span>BUNDESLIGA</span><br />
      <span><%= item.pubDate.to_s[0..15] %></span><br />
      <a href="<%== item.link %>"><%== item.title %></a><br />
      <span><%== item.description %></span>
    </div>
  </div>
  <br /><br />
<% end %>