<div id="area_aktuell">
  <div id="area_aktuell_s1" style="float: left; margin: 5px;">
    <img src="http://www.bundesliga.de/media/images/00_vereinsbilder/dortmund/scf_bvb_klopp_kehl_308.jpg" height="55" width="148" id="bild">
  </div>
  <div id="area_aktuell_s2">
    <span class="txt_fliesstext" style="text-transform:uppercase">Bundesliga</span><br>
  </div>
  <div id="area_aktuell_s3">
    <span class="txt_fliesstext">19.12.2011 19:48</span><br>
  </div>
  <div id="area_aktuell_s4">
    <a target="_blank" href="http://www.bundesliga.de/en/liga/news/2011/">Klopp happy with BVB progress &gt;</a><br><span class="txt_fliesstext">Freiburg - It was hardly a surprise to find Borussia Dortmund coach...</span><br></div></div>
  <div style="clear"></div>  
    <br /><br />
    
    <div id="area_aktuell"><div style="float: left; margin: 5px;" id="area_aktuell_s1"><img width="148" height="55" id="bild" src="http://www.bundesliga.de/media/images/03_spieltagsgalerien/00_bundesliga/00001_saison_2011_12/17__spieltag/fcb_koe_gomez_alaba_tor308.jpg"></div><div id="area_aktuell_s2"><span style="text-transform:uppercase" class="txt_fliesstext">Bundesliga</span><br></div><div id="area_aktuell_s3"><span class="txt_fliesstext">19.12.2011 17:52</span><br></div><div id="area_aktuell_s4"><a title="Bayern head off for Christmas with a bang" class="txt_headline_red" href="javascript:retrieveURL('/en/liga/news/2011/meldung.php?f=0000200685.php', 'inhalt'); show_weitere_Meldungen('hide');">Bayern head off for Christmas with a bang &gt;</a><br><span class="txt_fliesstext">Munich - FC Bayern Munich came through their final Bundesliga test of...</span><br></div></div>
  <div style="clear"></div>    
    <br /><br />
    <div id="area_aktuell"><div style="float: left; margin: 5px;" id="area_aktuell_s1"><img width="148" height="55" id="bild" src="http://www.bundesliga.de/media/images/00_vereinsbilder/schalke/s04_bre_huntelaar_jubelt_30.jpg"></div><div id="area_aktuell_s2"><span style="text-transform:uppercase" class="txt_fliesstext">Bundesliga</span><br></div><div id="area_aktuell_s3"><span class="txt_fliesstext">19.12.2011 16:25</span><br></div><div id="area_aktuell_s4"><a href="http://www.bundesliga.de/en/liga/news/2011/" target="_blank">Huntelaar: I always want more goals &gt;</a><br><span class="txt_fliesstext">Gelsenkirchen - FC Schalke 04's Klaas-Jan Huntelaar continued his...</span><br></div></div>
<div style="clear"></div>      
    <br /><br />
    <div id="area_aktuell"><div style="float: left; margin: 5px;" id="area_aktuell_s1"><img src="http://www.bundesliga.de/media/images/00_vereinsbilder/bremen/schaaf_allofs_training_308.jpg" height="55" width="148" id="bild"></div><div id="area_aktuell_s2"><span class="txt_fliesstext" style="text-transform:uppercase">Bundesliga</span><br></div><div id="area_aktuell_s3"><span class="txt_fliesstext">19.12.2011 14:59</span><br></div><div id="area_aktuell_s4"><a href="http://www.bundesliga.de/en/liga/news/2011/" target="_blank">Schaaf and Allofs extend Bremen contracts &gt;</a><br><span class="txt_fliesstext">Bremen - SV Werder Bremen coach Thomas Schaaf and executive director...</span><br></div></div>
    
<div style="clear"></div>      
<br /><br />
    <div id="area_aktuell"><div style="float: left; margin: 5px;" id="area_aktuell_s1"><img src="http://www.bundesliga.de/media/images/00_vereinsbilder/augsburg/fca_amsif_308.jpg" height="55" width="148" id="bild"></div><div id="area_aktuell_s2"><span class="txt_fliesstext" style="text-transform:uppercase">Bundesliga</span><br></div><div id="area_aktuell_s3"><span class="txt_fliesstext">19.12.2011 11:20</span><br></div><div id="area_aktuell_s4"><a href="http://www.bundesliga.de/en/liga/news/2011/" target="_blank">Matchday 17: Facts and figures &gt;</a><br><span class="txt_fliesstext">Munich - Augsburg's Mohamed Amsif produced a fine display against...</span><br></div></div>

<div style="clear"></div>      
<br /><br />
    <div id="area_aktuell"><div style="float: left; margin: 5px;" id="area_aktuell_s1"><img width="148" height="55" id="bild" src="http://www.bundesliga.de/media/images/00_vereinsbilder/bayern/fcb_koe_heynckes_ruft_308.jpg"></div><div id="area_aktuell_s2"><span style="text-transform:uppercase" class="txt_fliesstext">Bundesliga</span><br></div><div id="area_aktuell_s3"><span class="txt_fliesstext">19.12.2011 10:59</span><br></div><div id="area_aktuell_s4"><a href="http://www.bundesliga.de/en/liga/news/2011/" target="_blank">Heynckes: Koln were like concrete &gt;</a><br><span class="txt_fliesstext">Munich - Bayern stayed top, Schalke destroyed Bremen and Hamburg...</span><br></div></div>
<div style="clear"></div>      
<br /><br />
    <div id="area_aktuell"><div style="float: left; margin: 5px;" id="area_aktuell_s1"><img src="http://www.bundesliga.de/media/images/03_spieltagsgalerien/00_bundesliga/00001_saison_2011_12/17__spieltag/bmg_m05_reus_kirchhoff_114.jpg" height="55" width="148" id="bild"></div><div id="area_aktuell_s2"><span class="txt_fliesstext" style="text-transform:uppercase">Bundesliga</span><br></div><div id="area_aktuell_s3"><span class="txt_fliesstext">18.12.2011 19:33</span><br></div><div id="area_aktuell_s4"><a href="http://www.bundesliga.de/en/liga/news/2011/" target="_blank">Borussia cap off a superb 2011 &gt;</a><br><span class="txt_fliesstext">Munich - Borussia Monchengladbach put the cherry on top of their...</span><br></div></div>
    <div style="clear"></div>  