    
    <div style="float: left; margin: 5px;" id="area_aktuell_s1"><img src="http://www.bundesliga.de/media/images/00_vereinsbilder/bayern/gomez_114.jpg" id="bild" height="55" width="148"></div><div id="area_aktuell_s2"><span class="txt_fliesstext" style="text-transform:uppercase">Bundesliga</span><br></div><div id="area_aktuell_s3"><span class="txt_fliesstext">25.12.2011 15:38</span><br></div><div id="area_aktuell_s4"><a href="http://www.bundesliga.de/en/liga/news/2011/" class="txt_headline_red" title="Star Striker of 2011/12: Mario Gomez">Star Striker of 2011/12: Mario Gomez &gt;</a><br><span class="txt_fliesstext">Munich - In the current campaign FC Bayern's star striker Mario...</span><br></div>
    <div style="clear"></div>      
<br /><br />
    
    
    <div style="float: left; margin: 5px;" id="area_aktuell_s1"><img src="http://www.bundesliga.de/media/images/03_spieltagsgalerien/00_bundesliga/00001_saison_2011_12/13__spieltag/bmg_bre_reus_tor308.jpg" id="bild" height="55" width="148"></div><div id="area_aktuell_s2"><span class="txt_fliesstext" style="text-transform:uppercase">Bundesliga</span><br></div><div id="area_aktuell_s3"><span class="txt_fliesstext">24.12.2011 17:09</span><br></div><div id="area_aktuell_s4"><a href="http://www.bundesliga.de/en/liga/news/2011/" class="txt_headline_red" title="Emerging Talent of 2011/12: Marco Reus">Emerging Talent of 2011/12: Marco Reus &gt;</a><br><span class="txt_fliesstext">Monchengladbach - The word play was an obvious one: BoREUSsia...</span><br></div>
    <div style="clear"></div>      
<br /><br />


    <div style="float: left; margin: 5px;" id="area_aktuell_s1"><img src="http://www.bundesliga.de/media/images/00_vereinsbilder/hoffenheim/obasi_wechselt308.jpg" id="bild" height="55" width="148"></div><div id="area_aktuell_s2"><span class="txt_fliesstext" style="text-transform:uppercase">Bundesliga</span><br></div><div id="area_aktuell_s3"><span class="txt_fliesstext">23.12.2011 22:02</span><br></div><div id="area_aktuell_s4"><a href="http://www.bundesliga.de/en/liga/news/2011/" class="txt_headline_red" title="Schalke sign Obasi until the end of the season">Schalke sign Obasi until the end of the season &gt;</a><br><span class="txt_fliesstext">Gelsenkirchen - Chinedu Obasi is set to play the second half of the...</span><br></div>
<div style="clear"></div>      
<br /><br />

    
    <div style="float: left; margin: 5px;" id="area_aktuell_s1"><img src="http://www.bundesliga.de/media/images/00_vereinsbilder/stuttgart/sakai_japan_114.jpg" id="bild" height="55" width="148"></div><div id="area_aktuell_s2"><span class="txt_fliesstext" style="text-transform:uppercase">Bundesliga</span><br></div><div id="area_aktuell_s3"><span class="txt_fliesstext">23.12.2011 13:34</span><br></div><div id="area_aktuell_s4"><a href="http://www.bundesliga.de/en/liga/news/2011/" class="txt_headline_red" title="New full back for Stuttgart">New full back for Stuttgart &gt;</a><br><span class="txt_fliesstext">Stuttgart - VfB Stuttgart have agreed terms with  Japan's Albirex...</span><br></div>
<div style="clear"></div>      
<br /><br />

    
    <div style="float: left; margin: 5px;" id="area_aktuell_s1"><img src="http://www.bundesliga.de/media/images/00_vereinsbilder/gladbach/eiserne_fans2_308.jpg" id="bild" height="55" width="148"></div><div id="area_aktuell_s2"><span class="txt_fliesstext" style="text-transform:uppercase">Bundesliga</span><br></div><div id="area_aktuell_s3"><span class="txt_fliesstext">23.12.2011 02:15</span><br></div><div id="area_aktuell_s4"><a href="http://www.bundesliga.de/en/liga/news/2011/" class="txt_headline_red" title="Gladbach's 'Iron Fans'">Gladbach's 'Iron Fans' &gt;</a><br><span class="txt_fliesstext">Monchengladbach - As one of Germany's oldest and most...</span><br></div>
<div style="clear"></div>      
<br /><br />

    
    <div style="float: left; margin: 5px;" id="area_aktuell_s1"><img src="http://www.bundesliga.de/media/images/00_vereinsbilder/wolfsburg/jiracek_pilsen_114.jpg" id="bild" height="55" width="148"></div><div id="area_aktuell_s2"><span class="txt_fliesstext" style="text-transform:uppercase">Bundesliga</span><br></div><div id="area_aktuell_s3"><span class="txt_fliesstext">22.12.2011 18:15</span><br></div><div id="area_aktuell_s4"><a href="http://www.bundesliga.de/en/liga/news/2011/" class="txt_headline_red" title="Wolfsburg snap up Jiracek">Wolfsburg snap up Jiracek &gt;</a><br><span class="txt_fliesstext">Wolfsburg  - VfL Wolfsburg have agreed a deal to bring in midfielder...</span><br></div>
<div style="clear"></div>      
<br /><br />

    
    <div style="float: left; margin: 5px;" id="area_aktuell_s1"><img src="http://www.bundesliga.de/media/images/00_vereinsbilder/berlin/skibbe_bsc_logo_114.jpg" id="bild" height="55" width="148"></div><div id="area_aktuell_s2"><span class="txt_fliesstext" style="text-transform:uppercase">Bundesliga</span><br></div><div id="area_aktuell_s3"><span class="txt_fliesstext">22.12.2011 16:53</span><br></div><div id="area_aktuell_s4"><a href="http://www.bundesliga.de/en/liga/news/2011/" class="txt_headline_red" title="Skibbe aiming for the top with Hertha">Skibbe aiming for the top with Hertha &gt;</a><br><span class="txt_fliesstext">Berlin - Michael Skibbe has been officially unveiled as the new head...</span><br></div>
<div style="clear"></div>      
<br /><br />