<div class="center_column">
<div class="title">
  <div class="f_left">
    <img width="100" src="images/logo/euro2012.jpg" />
  </div>
  <div class="name_new">
    EURO 2012
  </div>
  <div class="tour_new">
      Day 1
  </div>
</div> 
<br />
<br />
  <div class="matche_det_new" style="height: auto;">
    <div class="matche_det_name">
      <div style="width:750px;">
        <div class="f_left logo_with_name">
          <img src="images/flags/poland.jpeg" height="50" />
          <div class="team_name">Poland</div>
        </div>
        <div class="f_left teams_container">
          <div class="graphic_predictions">
            <div class="win_home" style="width: 200px;" >
              <div class="win_home_in" style="height:5px;"></div>
              <div style="font-size: 12px; padding-left:50px;">40%</div>
            </div>
            <div class="draw"  style="width: 150px;" >
              <div class="draw_in" style="height:5px;"></div>
              <div style="font-size: 12px; padding-left:50px;">30%</div>
            </div>
            <div class="win_quest" style="width: 150px;" >
              <div class="win_quest_in" style="height:5px;"></div>
              <div style="font-size: 12px; padding-left:50px;">30%</div>
            </div>
            <div class="clear"></div>
          </div>
      </div>
        <div class="f_left logo_with_name">
          <img src="images/flags/greece.png" height="50" />
          <div class="team_name">Greece</div>
        </div>
        <div class="clear"></div>
      </div>
      <div class="clear"></div>
    </div>
    <div class="clear"></div>
    <div class="matche_det_name">
      <div style="width:750px;">
        <div class="f_left logo_with_name">
          <img src="images/flags/russia.png" height="50" />
          <div class="team_name">Russia</div>
        </div>
        <div class="f_left teams_container">
          <div class="graphic_predictions">
            <div class="win_home" style="width: 175px;" >
              <div class="win_home_in" style="height:5px;"></div>
              <div style="font-size: 12px; padding-left:50px;">35%</div>
            </div>
            <div class="draw"  style="width: 165px;" >
              <div class="draw_in" style="height:5px;"></div>
              <div style="font-size: 12px; padding-left:50px;">33%</div>
            </div>
            <div class="win_quest" style="width: 160px;" >
              <div class="win_quest_in" style="height:5px;"></div>
              <div style="font-size: 12px; padding-left:50px;">32%</div>
            </div>
            <div class="clear"></div>
          </div>
      </div>
        <div class="f_left logo_with_name">
          <img src="images/flags/chech.png" height="50" />
          <div class="team_name">Czech Republic</div>
        </div>
        <div class="clear"></div>
      </div>
      <div class="clear"></div>
    </div>
  <div class="clear"></div>
</div>