.clear {
    clear: left;
    clear: right;
}

.f_left {
  float: left;
}

#backend_content {
    width: 980px;
    border-left: 1px solid grey;
    border-right: 1px solid grey;
    padding: 10px;
    background-color: white;
    text-align: left;
    min-height: 500px;
    color: grey;
}

#backend_content .title {
  vertical-align: middle;
  font-size: 50px;
  font-weight: bold;
}

#backend_content .title .name {
  padding: 15px 0 0 95px;
}

#backend_content #backend_wrapper{
  width:  850px;
  float: right;
}

#admin_menu {
    width: 1000px;
    height: 30px;
    background-color: #555555;
    padding: 10px 0 10px 0px;
    border-left: 1px solid grey;
    border-right: 1px solid grey;
}

#admin_menu .item {
    float: left;
    margin-left: 45px;
}

#admin_menu .item a {
    cursor: pointer;
    text-decoration: none;
    font-size: 22px;
    font-weight: bold;
    color: white;
}

#admin_menu .item a:hover {
    text-decoration: underline;
}

#submenu {
  float: left;
  padding: 5px 20px 5px 0;
  border-right: 1px solid silver;
  margin: 0 20px 0 15px;
}

#submenu .item  a, a:visited{
  color: grey;
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
}

#submenu .item  a:hover {
  text-decoration: underline;
}

#football_clubs {
  margin: 5px 0 20px 30px;
}

.club {
  margin: 20px;
  height: 70px;
}

.club_name {
  padding: 20px 0 0 10px;
}

.club a, a:visited {
  color: grey;
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
  margin: 5px 0 0 10px;
}

.club a:hover {
  color: grey;
  text-decoration: underline;
}

.club_info{
  margin: 5px 0 0 20px;
  font-size: 14px;
}

.club_info a, a:visited {
  color: #6CB4EA;
  text-decoration: none;
}

.club_info a:hover {
  color: #6CB4EA;
  text-decoration: underline;
}