body{ 
font-family: arial, Helvetica,sans-serif; 
}

.clear {
    clear: left;
    clear: right;
}

.f_left {
  float: left;
}

.f_right {
  float: right;
}

.red {
  color: red;
}

.black {
  color: black;
}

.mr_right_7 {
  margin-right: 7px;
}

#backend_content {
    width: 980px;
    border-left: 1px solid #BBB;
    border-right: 1px solid #BBB;
    padding: 10px;
    background-color: white;
    text-align: left;
    min-height: 500px;
    color: #555;
}

#backend_content .title {
  vertical-align: middle;
  font-size: 30px;
  font-weight: bold;
}

#backend_content .title .name {
  padding: 15px 0 0 80px;
}

#backend_content .title .tour {
  padding: 0 0 0 80px;
  font-size: 17px;
}

#backend_content #backend_wrapper{
  width:  815px;
  float: right;
}

#admin_menu {
    width: 1000px;
    height: 30px;
    background-color: #555555;
    padding: 10px 0 10px 0px;
    border-left: 1px solid grey;
    border-right: 1px solid grey;
}

#admin_menu .item {
    float: left;
    margin-left: 35px;
}

#admin_menu .item a {
    cursor: pointer;
    text-decoration: none;
    font-size: 22px;
    font-weight: bold;
    color: white;
}

#admin_menu .item a:hover {
    text-decoration: underline;
}

#submenu {
  float: left;
  padding: 5px 20px 5px 0;
  border-right: 1px solid silver;
  margin: 0 20px 0 15px;
}

#submenu .item  a, a:visited{
  color: #555;
  font-size: 17px;
  font-weight: bold;
  text-decoration: none;
}

#submenu .item  a:hover {
  text-decoration: underline;
}

#football_clubs {
  margin: 5px 0 20px 30px;
}

.club {
  margin: 10px;
  height: 70px;
  width: 230px;
  float: left;
  border: 1px solid #BBB;
  padding: 7px;
}

.club_name {
  font-size: 14px;
  margin: 0 0 0 78px;
}

.club a, a:visited {
  color: #BBB;
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
  margin: 5px 0 0 10px;
}

.club a:visited {
  color: #BBB;
}

.club a:hover {
  color: #555;
  text-decoration: underline;
}

.club_info{
  margin: 5px 0 0 20px;
  font-size: 14px;
}

.club_info a, a:visited {
  color: #6CB4EA;
  text-decoration: none;
}

.club_info a:hover {
  color: #6CB4EA;
  text-decoration: underline;
}

#leagues {
  margin: 5px 0 20px 30px;
}

.league {
  margin: 10px;
  height: 70px;
  width: 235px;
  float: left;
  border: 1px solid #BBB;
  padding: 7px;
}

.league_name {
  margin: 0 0 0 60px;
}

.league a, a:visited {
  color: #BBB;
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
  margin: 5px 0 0 10px;
}

.league a:visited {
  color: #BBB;
}

.league a:hover {
  color: #555;
  text-decoration: underline;
}

.league_info{
  margin: 5px 0 0 20px;
  font-size: 14px;
}

.league_info a, a:visited {
  color: #6CB4EA;
  text-decoration: none;
}

.league_info a:hover {
  color: #6CB4EA;
  text-decoration: underline;
}

#matches {
  margin: 5px 0 20px 30px;
}

.matche {
  margin: 10px;
  height: 147px;
  width: 230px;
  float: left;
  border: 1px solid #BBB;
}

.matche_name {
  padding: 20px 0 0 10px;
}

.matche a, a:visited {
  color: #BBB;
  font-size: 13px;
  font-weight: bold;
  text-decoration: none;
  margin: 15px 0 0 10px;
}

.matche a:visited {
  color: #BBB;
}

.matche .vs {
  width: 220px;
  font-size:14px;
  color: #BBB;
  text-align: center;
  font-weight:bold;
}

.matche .link_container {
  margin: 10px 20px 20px 20px;
}

.matche .matche_date {
  font-size: 12px;
}

.matche .teams_container {
  margin: 20px;
  font-size: 25px;
}

.matche a:hover {
  color: grey;
  text-decoration: underline;
}

#matche_info {
  margin-left: 50px;
}

.matche_info{
  margin: 5px 0 0 20px;
  font-size: 14px;
}

.metche_info a, a:visited {
  color: #6CB4EA;
  text-decoration: none;
}

.matche_info a:hover {
  color: #6CB4EA;
  text-decoration: underline;
}

.matche .matche_info_item {
  font-size: 16px;
  font-weight: bold;
}

.matche .matche_info_item_r1 {
  color: green;
  font-weight: bold;
}

.matche .matche_info_item_rx {
  color: silver;
  font-weight: bold;
}

.matche .matche_info_item_r2 {
  color: red;
  font-weight: bold;
}

.matche .matche_info_item  b{
  font-size: 18px;
  color: black;
}

#matches_det {
  margin: 5px 0 20px 30px;
}

.matche_det {
  margin: 10px;
  float: left;

}

.matche_det_name {
  padding: 20px 0 0 10px;
}

.matche_det a, a:visited {
  color: #BBB;
  font-size: 13px;
  font-weight: bold;
  text-decoration: none;
  margin: 15px 0 0 10px;
}

.matche_det a:visited {
  color: #BBB;
}

.matche_det .vs {
  width: 220px;
  font-size:14px;
  color: #BBB;
  text-align: center;
  font-weight:bold;
}

.matche_det .link_container {
  margin: 10px 20px 20px 20px;
}

.matche_det_date {
  font-size: 12px;
  font-weight: bold;
}

.matche_det .teams_container {
  margin: 20px;
  font-size: 20px;
}

.matche_det a:hover {
  color: grey;
  text-decoration: underline;
}

#matche_det_info {
  margin: 20px 0 0 110px;
}

.matche_det_info{
  margin: 5px 0 0 20px;
  font-size: 14px;
  height: 90px;
}

.metche_det_info a, a:visited {
  color: #6CB4EA;
  text-decoration: none;
}

.matche_det_info a:hover {
  color: #6CB4EA;
  text-decoration: underline;
}

.matche_det .matche_info_item {
  font-size: 16px;
  font-weight: bold;
}

.matche_det .matche_info_item_r1 {
  color: green;
  font-weight: bold;
}

.matche_det .matche_info_item_rx {
  color: silver;
  font-weight: bold;
}

.matche_det .matche_info_item_r2 {
  color: red;
  font-weight: bold;
}

.matche_det .matche_info_item  b{
  font-size: 18px;
  color: black;
}

#bookmakers {
  margin: 5px 0 20px 30px;
}

.bookmaker {
  margin: 20px;
}

.bookmaker_name {
  padding: 20px 0 0 10px;
}

.bookmaker_name span{
  font-size: 12px;
  font-weight: bold;
}

.bookmaker a, a:visited {
  font-size: 12px;
  font-weight: bold;
  text-decoration: none;
  margin: 15px 0 0 10px;
}

.bookmaker a:hover {
  text-decoration: underline;
}

#countries {
  margin: 5px 0 20px 30px;
}

.country_name {
  padding: 20px 0 0 10px;
}

.country_name span{
  font-size: 14px;
  font-weight: bold;
}

#statistics {
  margin: 5px 0 20px 30px;
}

#stat_info {
  margin-left: 50px;
}

.stat_info{
  margin: 5px 0 0 20px;
  font-size: 14px;
}

.stat_info_item {
  font-size: 12px;
  font-weight: bold;
  float: left;
  border-right: 1px dashed #BBB;
  padding-right: 10px;
  margin-left: 10px;
}

.stat_info_item_r1 {
  color: green;
  font-weight: bold;
}

.stat_info_item_rx {
  color: #BBB;
  font-weight: bold;
}

.stat_info_item_r2 {
  color: red;
  font-weight: bold;
}

.stat .matche_info_item  b{
  font-size: 16px;
  color: #555;
}