@font-face {  
  font-family: MyriadPro;  
  src: url("MyriadPro.ttf") format("truetype");  
}  

body{ 
	font-family: MyriadPro, Arial, Sans-serif; 
}

h1 {
	display: block;
	font-size: 26px;
	margin: 5px 0px 15px 0px;
	font-weight: bold;
}

.clear {
    clear: left;
    clear: right;
}

.center {
	text-align: center;
}

.f_left {
	float: left;
}

.f_right {
	float: right;
}

.red {
	color: red;
}

.black {
	color: black;
}

.mr_right_7 {
	margin-right: 7px;
}

#backend_content {
    width: 960px;
	padding: 0px 20px 0px 20px;
    text-align: left;
    min-height: 500px;
}

#backend_content .title {
  vertical-align: middle;
  font-size: 30px;
  padding: 0px 0px 0px 5px;
}

#backend_content .title .name {
  padding: 35px 0px 0px 110px;
  letter-spacing: 2px;
}

#backend_content .title .tour {
  padding: 0px 0px 0px 110px;
  font-size: 17px;
}

#backend_content .title .name_new {
  padding: 20px 0px 0px 70px;
  letter-spacing: 2px;
}

#backend_content .title .tour_new {
  padding: 0px 0px 0px 70px;
  font-size: 17px;
}

#backend_content #backend_wrapper{
  width:  960px;
}

#admin_menu {
    width: 1000px;
    height: 30px;
    padding: 10px 0 0px 0px;
    margin-bottom: 20px;
}

#admin_menu .item {
    float: left;
    margin: 0px 35px;
}

#admin_menu .item a {
    cursor: pointer;
    text-decoration: none;
    font-size: 18px;
}

#admin_menu .item a:hover {
    text-decoration: underline;
}

#submenu {
  width: 1000px;
  height: 30px;
  padding: 10px 0 0px 0px;
}

#submenu .item {
  float: left;
  margin: 0px 35px;
}

#submenu .item  a, a:visited{
  color: #555555;
  font-size: 16px;
  text-decoration: none;
}

#submenu .item  a:hover {
  text-decoration: underline;
}

#football_clubs {
  margin: 5px 10px;
}

.club {
  margin: 9px;
  height: 70px;
  width: 205px;
  float: left;
  border: 1px solid #BBB;
  padding: 7px;
  border-image: initial;
}

.club:hover {
	border: 1px solid #DDDDDD;
}

.club_name {
  font-size: 14px;
  margin: 0 0 0 78px;
  padding: 5px 0 0 10px;
}

.club a, a:visited {
  color: #000000;
  font-size: 14px;
  text-decoration: none;
  margin: 15px 0 0 10px;
}

.club a:visited {
  color: #000000;
}

.club a:hover {
  text-decoration: none;
}

.club_info{
  margin: 5px 0 0 20px;
  font-size: 14px;
}

.club_info a, a:visited {
  color: #555;
  text-decoration: none;
}

.club_info a:hover {
  color: #555;
  text-decoration: underline;
}

#leagues {
  margin: 5px 10px;
}

.league {
  margin: 10px;
  height: 70px;
  width: 200px;
  float: left;
  border: 1px solid #BBB;
  border-image: initial;
  padding: 7px;
}

.league:hover {
	border: 1px solid #DDDDDD;
}

.league_name {
  font-size: 14px;
  margin: 0 0 0 78px;
  padding: 5px 0 0 10px;
}

.league a, a:visited {
  color: #000000;
  font-size: 14px;
  text-decoration: none;
  margin: 5px 0 0 10px;
}

.league a:visited {
  color: #000000;
}

.league a:hover {
  text-decoration: none;
}

.league_info{
  margin: 5px 0 0 20px;
  font-size: 14px;
}

.league_info a, a:visited {
  color: #000000;
  text-decoration: none;
}

.league_info a:hover {
  color: #000000;
  text-decoration: underline;
}

#matches {
  margin: 5px 10px;
}

.matche {
	margin: 9px;
	height: 145px;
	width: 215px;
	float: left;
	border: 1px solid #BBB;
	border-image: initial;
}

.matche:hover {
	border: 1px solid #DDDDDD;
}

.matche_name {
  padding: 20px 0 0 10px;
}

.matche a, a:visited {
  color: #000000;
  font-size: 14px;
  text-decoration: none;
  margin: 15px 0 0 10px;
}

.matche a:hover {
  text-decoration: none;
}

.matche .vs {
	width: 220px;
	font-size: 14px;
	color: black;
	text-align: center;
	font-weight: bold;
	position: relative;
	top: -43px;
	left: -7px;
}

.matche .link_container {
  margin: 10px 20px 20px 20px;
}

.matche .matche_date {
  font-size: 12px;
}

.matche .teams_container {
  margin: 20px;
  font-size: 25px;
}

.matche a:hover {
  color: #888888;
  text-decoration: none;
}

#matche_info {
  margin-left: 50px;
}

.matche_info{
  margin: 5px 0 0 20px;
  font-size: 14px;
}

.metche_info a, a:visited {
  color: #6CB4EA;
  text-decoration: none;
}

.matche_info a:hover {
  color: #6CB4EA;
  text-decoration: underline;
}

.matche .matche_info_item {
  font-size: 16px;
  font-weight: bold;
}

.matche .matche_info_item_r1 {
  color: green;
  font-weight: bold;
}

.matche .matche_info_item_rx {
  color: silver;
  font-weight: bold;
}

.matche .matche_info_item_r2 {
  color: red;
  font-weight: bold;
}

.matche .matche_info_item  b{
  font-size: 18px;
  color: black;
}

#matches_det {
  margin: 5px 0 20px 30px;
}

.matche_det {
  margin: 10px;
  float: left;

}

.matche_det_new{
  margin: 10px;

}

.matche_det_name {
  padding: 20px 0 0 10px;
}

.matche_det a, a:visited {
  color: #BBB;
  font-size: 13px;
  font-weight: bold;
  text-decoration: none;
  margin: 15px 0 0 10px;
}

.matche_det_new a, a:visited {
  color: #BBB;
  font-size: 13px;
  font-weight: bold;
  text-decoration: none;
  margin: 15px 0 0 10px;
}

.matche_det a:visited {
  color: #BBB;
}

.matche_det_new a:visited {
  color: #BBB;
}

.matche_det .vs {
  width: 220px;
  font-size:14px;
  color: #BBB;
  text-align: center;
  font-weight:bold;
}

.matche_det_new .vs {
  width: 220px;
  font-size:14px;
  color: #BBB;
  text-align: center;
  font-weight:bold;
}

.matche_det .link_container {
  margin: 10px 20px 20px 20px;
}

.matche_det_new .link_container {
  margin: 10px 20px 20px 20px;
}

.matche_det_date {
  font-size: 12px;
  font-weight: bold;
}

.matche_det .teams_container {
  margin: 20px;
  font-size: 20px;
}

.matche_det_new .teams_container {
  margin: 20px;
  font-size: 20px;
}

.matche_det a:hover {
  color: grey;
  text-decoration: underline;
}

.matche_det_new a:hover {
  color: grey;
  text-decoration: underline;
}

#matche_det_info {
  margin: 20px 0 0 110px;
}

.matche_det_info{
  margin: 5px 0 0 20px;
  font-size: 14px;
  height: 90px;
}

.metche_det_info a, a:visited {
  color: #6CB4EA;
  text-decoration: none;
}

.matche_det_info a:hover {
  color: #6CB4EA;
  text-decoration: underline;
}

.matche_det .matche_info_item {
  font-size: 16px;
  font-weight: bold;
}

.matche_det .matche_info_item_r1 {
  color: green;
  font-weight: bold;
}

.matche_det .matche_info_item_rx {
  color: silver;
  font-weight: bold;
}

.matche_det .matche_info_item_r2 {
  color: red;
  font-weight: bold;
}

.matche_det .matche_info_item  b{
  font-size: 18px;
  color: black;
}

#bookmakers {
  margin: 5px 0 20px 30px;
}

.bookmaker {
  margin: 20px;
}

.bookmaker_name {
  padding: 20px 0 0 10px;
}

.bookmaker_name span{
  font-size: 14px;
}

.bookmaker a, a:visited {
  font-size: 14px;
  text-decoration: none;
  margin: 15px 0 0 10px;
}

.bookmaker a:hover {
  text-decoration: underline;
}

#countries {
  margin: 5px 0 20px 30px;
}

.country_name {
  padding: 20px 0 0 10px;
}

.country_name span{
  font-size: 14px;
  font-weight: bold;
}

#statistics {
  margin: 5px 0 20px 30px;
}

.sum_stat_row {
  font-size: 14px;
  margin-bottom: 4px;
}

#stat_info {
  margin-left: 50px;
}

.stat_info_new {
  margin: 20px 0 0 20px;
  font-size: 14px;
  display: none;
}

.stat_info_item {
  font-size: 12px;
  font-weight: bold;
  float: left;
  border-right: 1px dashed #BBB;
  padding-right: 10px;
  margin-left: 10px;
  margin-bottom: 10px;
}

.stat_info_item_main {
  font-size: 14px;
  font-weight: bold;
  padding-right: 10px;
  margin-left: 10px;
  margin-bottom: 20px;
}

.stat_info_item_r1 {
  color: green;
  font-weight: bold;
}

.stat_info_item_rx {
  color: #BBB;
  font-weight: bold;
}

.stat_info_item_r2 {
  color: red;
  font-weight: bold;
}

.stat .matche_info_item  b{
  font-size: 16px;
  color: #555;
}

.graphic_predictions  {
  border: 1px solid grey;
  float: left;
  margin: 0 10px 0 10px;
  font-size: 15px;
}

.graphic_predictions  .win_home{
  float: left;
  background-color: #FF3333;
  padding: 3px 7px 3px 7px;
}

.graphic_predictions  .draw{
  float: left;
  background-color: #33CC33;
  padding: 3px 7px 3px 7px;
}

.graphic_predictions  .win_quest{
  background-color: #3399CC;
  float: left;
  padding: 3px 7px 3px 7px;
}

.teams_container .team_name{
  float: left;
}

.matche_sub_info {
  margin: 0px 0px 0px 20px;
  font-size:14px;
}

.matche_sub_info  a{
  font-size:14px;
}