body {
  font-size: 12px;
  background-color: silver;
}

#logo_block {
    background-color: #E3E3E3;
    color: #6CB4EA;
    height: 56px;
    width: 980px;
    font-size: 45px;
    padding: 10px;
    font-weight: bold;
    text-align: left;
    border-bottom: 1px solid silver;
}

#logo_block span {
    font-size: 25px;
    color: #228B22;
}

#main {
    width: 1000px;
    background-color: white;
    border: 1px solid grey;
}

#logos_row {
    width: 1000px;
    height: 100px;
    margin: 0 0 10px 30px;
}

#logos_row .logo {
    float: left;
    height: 100px;
    width: 120px;
    margin-left: 30px;
}

#logos_row .logo img{
    width: 120px;
    height: 100px;
}

#login_block {
    float: right;
    margin: 15px 10px 0 0;
    font-size: 14px;
}

#login_block a.login {
    cursor: pointer;
    text-decoration: none;
}

#login_block a.register {
    cursor: pointer;
    text-decoration: none;
}

#login_block a:hover {
    text-decoration: underline;
}

#frontend_menu {
    height: 40px;
    background-color: black;
    padding: 7px;
    border-top: 2px solid grey;
    border-bottom: 2px solid grey;
    margin-bottom: 20px;
}

#frontend_menu .item {
    padding-left: 110px;
    float: left;
}

#frontend_menu .item a {
    text-decoration: none;
    cursor: pointer;
    color: white;
    font-size: 25px;
    font-weight: bold;
}

#frontend_menu .item a:hover {
    text-decoration: underline;
    color: white;
}

#slider {
    width: 1000px; /* important to be same as image width */
    height: 350px; /* important to be same as image height */
    position: relative; /* important */
    overflow: hidden; /* important */
}
#sliderContent {
    width: 1000px; /* important to be same as image width or wider */
    position: absolute;
    top: -12px;
    left: -40px;
    margin-left: 0;
}
.sliderImage {
    float: left;
    position: relative;
    display: none;
}
.sliderImage span {
    position: absolute;
    font: 10px/15px Arial, Helvetica, sans-serif;
    padding: 10px 13px;
    width: 1000px;
    background-color: #000;
    filter: alpha(opacity=70);
    -moz-opacity: 0.7;
    -khtml-opacity: 0.7;
    opacity: 0.7;
    color: #fff;
    display: none;
}

.sliderImage img {
    width: 1000px;
    height: 350px;
}

.clear {
	clear: both;
}
.sliderImage span strong {
    font-size: 14px;
}
.top {
	top: 0;
	left: 0;
}
.bottom {
	bottom: 0;
    left: 0;
}
ul { list-style-type: none;}

#content {
  min-height: 500px;
}

#footer {
  color: white;
  background-color: black;
  padding: 5px;
  width: 990px;
  border: 1px solid grey;
}